<div class="list-group">
  <h1>Directives</h1>
  
  <div class="list-group-item-text">
      <h2 class="list-group-item active list-group-item-heading">ngIf</h2>
    <input type="checkbox" name="Select" value="{{ isSelected }}" (click)="onClick();">
    <output *ngIf="isSelected">checkbox selected</output>
  </div>

  <div class="list-group-item-text">
      <h2 class="list-group-item active list-group-item-heading">ngSwitch</h2>
      <button class="btn btn-primary" [class.active]="viewMode == 'hidden'" (click)="viewMode = 'hidden'">Hidden</button>
      <button class="btn btn-warning" [class.active]="viewMode == 'ngIf'" (click)="viewMode = 'ngIf'">NgIf</button>
      <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'ngIf'">
            <output value="selection is {{viewMode}}"></output>
        </div>

        <div *ngSwitchCase="'hidden'">
            <output value="selection is {{viewMode}}"></output>

        </div>
        <div *ngSwitchDefault>output2</div>
      </div>
    
  </div>
</div>