<form [formGroup]="form" >
<div class="form-group">
  <label for="oldpassword">OldPassword</label>
  <input type="password" id="oldpassword" class="form-control" name ="oldpassword" formControlName="oldPwd">
  <div class="alert alert-danger" *ngIf="oldPwd.touched && !oldPwd.valid">
    <div *ngIf="oldPwd.errors.required">Old Password is Required </div>
    <div *ngIf="oldPwd.errors.invalidOldPassword">Old password is invalid</div>
  </div>
</div>
<div class="form-group">
  <label for="newPassword">newPassword</label>
  <input type="password" id="newPassword" class="form-control" name="newPassword"  formControlName="newPwd">
  <div class="alert alert-danger" *ngIf="newPwd.touched && !newPwd.valid">
    <div *ngIf="newPwd.errors.required">newPassword is Required</div>
  </div>
</div>
  <div class="form-group">
    <label for="confirmPassword">confirmPassword</label>
     <input type="password" id="confirmPassword" class="form-control"  name="confirmPassword" formControlName="confirmPwd">
     <div class="alert alert-danger" *ngIf="confirmPwd.touched && !confirmPwd.valid">
       <div *ngIf="confirmPwd.errors.required">ConfirmPassword is Required</div>
      </div>
      <div class="alert alert-danger" *ngIf="confirmPwd.valid && form.invalid && form.errors.passwordNotMatching">
        passwordNotMatching
      </div>
</div>
<div class="form-group">
    <button class="btn btn-primary" id="submit">Change Password</button>
  </div>
</form>